.wrapper {
  background-color: black;
  height: 97vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}

h3 {
  color: blue;
  font-size: 6rem;
}
