.width {
  width: 500px;
}

.wrapper,
.styleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styleLogout,
.wrapper {
  width: 40%;
  background-color: grey;
  padding: 60px;
  color: white;
  border-radius: 5px;
}

.styleWrapper {
  background-color: black;
  height: 97vh;
  width: 100vw;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form),
 {
  border-left: 5px solid #a94442;
}

